<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Grupo</h4>
                <h6 class="card-subtitle">Agregar nuevo grupo</h6>
                <form class="form p-t-20"
                      [formGroup]="groupForm"
                      (submit)="createGroup()">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputuname">Director de grupo</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input type="text"
                                           formControlName="mainTeacher"
                                           class="form-control"
                                           id="exampleInputuname"
                                           placeholder="Nombre del director de grupo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputuname">Jornada</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-agenda"></i></div>
                                    <select class="form-control"
                                            name="Jornada"
                                            formControlName="dayShift">
                                        <option *ngFor="let jornada of jornadas" [value]="jornada">{{ jornada }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd2">Cupos</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-marker"></i></div>
                                    <input type="number"
                                           formControlName="quota"
                                           class="form-control"
                                           id="pwd2"
                                           placeholder="Cupos">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button"
                            (click)="cancelForm()"
                            class="button" style="background-color: gray;">
                        Cancelar
                    </button>
                    <button type="submit"
                            [disabled]="!groupForm.valid"
                            class="button">
                            
                        Guardar
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
</div>