<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Asignatura</h4>
                <h6 class="card-subtitle">Agregar nueva asignatura</h6>
                <form class="form p-t-20"
                      [formGroup]="subjectForm"
                      (submit)="updateDegree()">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputuname">Asignatura</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-agenda"></i></div>
                                    <input type="text"
                                           formControlName="subjects"
                                           class="form-control"
                                           id="exampleInputuname"
                                           placeholder="Nombre de la asignatura">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button"
                            (click)="cancelForm()"
                            class="button" style="background-color: gray;">
                        Cancelar
                    </button>
                    <button type="submit"
                            [disabled]="!subjectForm.valid"
                            class="button">
                        Guardar
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
</div>